main, body{
    text-align: center;
}
.verticalFlow{
    display: inline-grid;
}
.horizontalFlow{
    display: inline-flex;
}
.horizontalFlow div{
    margin: 0 20px;
}
.horizontalFlow div form{
    margin: 0;
}

div.voteButtons{
    height:fit-content;
    margin-top: auto;
    margin-bottom:auto;
}

.commentReview button{
    width: 40%;
    margin-left:auto;
    margin-right: auto;
}
.italic{
    font-style: italic;
}

.container{
    width: 33%;
}
.createreview input, .createreview textarea, .createreview button{
    text-align: center;
    font-size:18px;
}

.createreview button{
    width: 40%;
    margin-left:auto;
    margin-right:auto;
}

.createreview textarea{
    height:150px;
}

input, button{
    margin: 10px 0;
}
a{
    margin-left:20px;
}